.QuestionForm {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #B2C541 solid 1px;
  border-radius: 15px;
}

.VariantList {
  width: 100%;
  display: grid;
  gap: 4px;
}