.Card {
  width: 300px;
  border: 1px black solid;
  margin: 8px 0;
}

.Title {
  font-weight: 700;
}

.CardWrapper {
  display: flex;
  gap: 8px;
  inline-size: 300px;
  overflow-wrap: break-word;
}

.EditButton {
  margin-top: 8px;
  display: flex;
  justify-content: right;
}

.Button {
  margin: 0 8px;
}

.Center {
  text-align: center;
}